Libraries used for Data Cleaning:
* Pandas
* Matplotlib
* Re

In [ ]:
import pandas as pd
import matplotlib as plt
import re

Importing Scraped data in DataFrame

In [ ]:
df=pd.read_csv("reviews.csv")
df.drop(columns=["Unnamed: 0"],inplace=True)

Cleaning Review of each datapoint

In [ ]:
reviews=list(df["Reviews"])

for i,x in enumerate(reviews):
  text=x.split("|")
  reviews[i]=text[1].strip()

df["Reviews"]=reviews

Trimming all textual columns

In [ ]:
collist=df.columns
for x in collist:
  if df[x].dtype==object:
    specificlist=list(df[x])
    for i,y in enumerate(specificlist):
      if type(y)==str:
        specificlist[i]=y.strip()
    df[x]=specificlist

Correcting invalid values in the "Recommeneded" Column and the replacing them with 0 and 1

In [ ]:
df["Recommended"]=df["Recommended"].replace({'no':0,'noClose':0,'yes':1,'yesClose':1})

Understanding the Percentage of Null Values in each column

In [ ]:
null_dict=dict()
collist=df.columns
for x in collist:
  m=100-(df[x].isnull().value_counts()[0]/10)
  null_dict[x]=round(m,3)
print("Percentage of Null Values\n")
for x,y in null_dict.items():
  print(f"{x}: {y}")

Percentage of Null Values

Reviews: 0.0
Aircraft: 46.7
Type Of Traveller: 0.2
Seat Type: 0.0
Route: 0.3
Date Flown: 0.0
Seat Comfort: 8.7
Cabin Staff Service: 9.4
Food & Beverages: 21.8
Inflight Entertainment: 47.9
Ground Service: 5.7
Wifi & Connectivity: 30.8
Value For Money: 0.0
Recommended: 0.0

Dropping columns with significant amount of Null Value Percentage

In [ ]:
df.drop(columns=["Aircraft","Food & Beverages","Inflight Entertainment","Wifi & Connectivity"],inplace=True)

Dropping any remaining Null Values

In [ ]:
df_cleaned=df.dropna()

Splitting "Route" Column to "From" and "Destination" Columns

In [ ]:
route=list(df_cleaned["Route"])
fromloc=[]
destloc=[]
for x in route:
  xsplit=x.split(" to ")
  fromloc.append(xsplit[0])
  if len(xsplit)==2:
    destloc.append(xsplit[1])
  else:
    destloc.append("")

df_cleaned["From"]=fromloc
df_cleaned["Destination"]=destloc

Istanbul via London
London Singapore
doha to londonDoha to London

Exporting DataFrame to a CSV File

In [ ]:
df_cleaned.to_csv("data/cleaned_data.csv")